// colors
// primary
$Bright-Blue: hsl(220, 98%, 61%);
$Check-Background: linear-gradient(135deg, hsl(192, 100%, 67%),hsl(280, 87%, 65%));

// neutral
// light theme
$lgt-Very-Light-Gray: hsl(0, 0%, 98%);
$lgt-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$lgt-Light-Grayish-Blue: hsl(233, 11%, 84%);
$lgt-Dark-Grayish-Blue: hsl(236, 9%, 61%);
$lgt-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

// Dark Theme

$drk-Very-Dark-Blue: hsl(235, 21%, 11%);
$drk-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$drk-Light-Grayish-Blue: hsl(234, 39%, 85%);
$drk-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
$drk-Dark-Grayish-Blue: hsl(234, 11%, 52%);
$drk-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);

// Typography
$Font-size:18px;
// Font 
$Font-josefin-regular:'Josefin Sans Regular';
$Font-josefin-bold:'Josefin Sans Bold';